/**
 * Salamander theme, for Drupal 5
 * Florian Radut, florian[at]radut.net
 *
 **
 * by uncomment the corresponding css call you can change the subtheme
 * you can modify the page width (fixed or fluid) by changing #page { width: 95% or 950px }
 **
 */


@import "css/salamander1.css";
/*@import "css/salamander2.css";*/

@import "style-mini.css";

body {
  margin: 0;
  padding: 20px 0;
  font-family: Helvetica;
  font-size: 83%;
  line-height: 125%;
  color: #000;
  background-color: #8596aa;
  min-width: 780px;
}

#page {
   margin: 0 auto;
   width: 95%; /* 95% or 950px */
}

tbody {
   border: none;
}

tr.odd td, tr.even td {
  padding: 0.3em;
}

h1, h2, h3, h4, h4 {
	padding-bottom: 5px;
	margin: 10px 0;
}

h1 {
	font-size: 160%;
}

h2 {
	font-size: 125%;
}

h3 { 
   font-size: 110%;
}

h4 {
	font-size:  100%;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}

#section2 a:hover {
  text-decoration: underline;
}

fieldset {
  border: 1px solid #ccc;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
table {
  font-size: 1em;
}
.form-item label {
  font-size: 1em;
  color: #222;
}
.item-list .title {
  color: #222;
}
.links {
  margin: 0;
}
.comment .links {
  margin-bottom: 0;
}

#header, #content {
  width: 100%;
}

table.sections {
	width: 100%;
	padding: 0;
}

.clr {
	clear: both;
}

td.section.width49 {
	width: 50%;
}

td.section.width33 {
	width: 33%;
}

#masthead {
  float: none;
  clear: both;
  line-height: normal;
}

#logo-title {
  float: left;
  margin: 0;
  padding: 10px 20px;
}

#logo {
  vertical-align: baseline;
}

#logo img {
  padding: 0;
  margin: 0;
  border: 0;
}

h1#site-name {
	margin: 0;
	padding: 50px 0 0 0;
}

#site-name a, #site-name a:hover {
  font-weight: bold;
  color: #fff;
  font-size: 140%;
}

#site-slogan {
	font-size: 12px;
  color: #000;
  font-style: italic;
  padding-top: 4px;
  margin-left: 20px;
}

#mission {
  font-weight: normal;
  padding: 1em 1em 0.75em 2em;
  margin: 20px 10px;
  color: #000;
  font-size: 85%;
  border: solid 1px #104a91;
}
#mission a, #mission a:visited {
  font-weight: normal;
  color: #104a91;
}

#search {
  padding-top: 15px;
  padding-right: 10px;
  float: right;
}

#search .form-text, #search .form-submit {
  border: 1px solid #369;
  font-size: 1.1em;
  height: 1.5em;
  vertical-align: middle;
}
#search .form-text {
  width: 8em;
  padding: 0 0.5em;
}

/* Primary and Secondary links */

#primary {
  line-height: 30px;
}

#primary ul {
  padding:0;
  margin:0;
  list-style:none;
}

#primary li {
  display:inline;
}

#primary a {
  font-weight: bold;
  display: block;
  float: left;
  padding: 0px 14px;
  margin: 0px 1px 0px 0px;
  font-size: 95%;
}

#primary a {
  background-position:0% 0px;
}

#primary a:hover {
  text-decoration: none;
  background-position:0% -42px;
}

#primary a.active {
  background-position: 0% -84px;
}

#secondary {
}

#secondary ul {
  margin:0;
  padding:0;
  list-style:none;
}
#secondary li {
  margin:0;
  padding:0;
  display:inline;
}

#secondary li a {
  float:left;
  display:block;
  font-size: 90%;
  padding:0px 14px 0px 14px;
}

#secondary a:hover {
  text-decoration: none;
}

#secondary a.active {
  font-weight:bold;
}

#navlist {
  font-size: 1.0em;
  padding: 0 0.8em 1.2em 0;
  color: #fff;
}
#navlist a {
  font-weight: bold;
  color: #fff;
}
#subnavlist {
  padding: 0.5em 1.2em 0.4em 0;
  font-size: 0.8em;
  color: #fff;
}
#subnavlist a {
  font-weight: bold;
  color: #fff;
}
ul.links li {
  border-left: 1px solid #ddd;
}
ul.links li.first {
  border: none;
}

#main {
  padding: 10px;
}

#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}

.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}

#middlecontainer {
  padding:0px 10px 10px 10px;
}

#sidebar-left, #sidebar-right {
  width: 210px;
  vertical-align: top;
}

#sidebar-left .block, #sidebar-right .block {
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 10px;
}

#footer {
  text-align: center;
  color:#fff;
  margin:0;
  font-size: 75%;
  padding: 1em;
}
  
#footer a {
  font-weight:bold;
  color: #adadad;
}

#footer .block {
	padding: 0;
}

div#breadcrumb {
  padding-left:14px;
  clear: both;
  font-size: 75%;
  border-bottom: 1px solid #8596aa;
}

.title, .title a {
  font-weight: bold;
  margin: 0 auto;
}
.submitted {
  color: #8e6126;
  font-size: 0.8em;
}
.links {
  color: #8e6126;
}
.links a {
  font-weight: bold;
}
.block, .box {
  padding: 0 0 1.5em 0;
}
.block {
  padding-bottom: 0.75em;
  margin-bottom: 1.5em;
}

.section .block, .section .box {
  padding: 0;
  padding-bottom: 0;
  margin-bottom: 15px;
}

.block .title {
  margin-bottom: .25em;
}

.node {
  margin: .5em 0 2em 0;
}
/*
.sticky {
  padding: .5em;
  background-color: #eee;
  border: solid 1px #ddd;
}
*/
.node .content, .comment .content {
  margin: .5em 0 .5em 0;
}
.node .taxonomy {
  font-size: 0.8em;
  padding-left: 1em;
}
.node .taxonomy a {
	font-weight: normal;
}
.comment {
  border: 1px solid #abc;
  padding: .5em;
  margin-bottom: 1em;
}

.comment .title a {
  font-weight: normal;
}
.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  color: red;
}
.node .picture, .comment .picture {
  float: right;
  margin: 0.5em;
}

#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
}
#aggregator h3 {
  margin-top: 1em;
}
#forum table {
  width: 100%;
}
#forum td {
  padding: 0.5em;
}
#forum td.forum, #forum td.posts {
  background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
  background-color: #ddd;
}
#forum td.container {
  background-color: #ccc;
}
#forum td.container a {
  color: #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
#forum td .name {
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
div.admin-panel .description {
  color: #8e6126;
}
div.admin-panel .body {
  background: #f4f4f4;
}
div.admin-panel h3 {
  color: #abc;
  padding: 5px 8px 5px;
  margin: 0;
}


/* some table stuff */

div#section1 td.section, div#section2 td.section {
	padding: 10px 20px 0 20px;
}

/* ====== Addons ====== */

.legal {
	margin-left: 75px;
}
#user-login-form {
  text-align: left !important;
}

/* Module specific style for TinyMCE */

body.mceContentBody
{
background: #eee !important;
font-size: 14px;
}

body.mceContentBody a:link
{
font-weight: normal;
}

